.korea {
    text-align: center;
    width: 400px;
    height: 50px;
    font-size: 1.3rem;
    margin: 0 auto;
}

.korea{
    width: 400px;
    text-align: center;
}

.message{
    font-size: 0.5rem;

}

.tot5{
    font-size: 0.7rem;
    color: red;
    position: absolute;
    text-align: center;
}

.close{
    text-align: center;
    border-radius: 20px;
    border-bottom: 10px;
}

div.inputs{
    text-align: center;
    border: 1px solid #6c757d;
    height: 150px;
    
}

.modal > section > footer button {
    text-align: center;
    /* padding: 6px 12px; */
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    font-size: 13px;
    border-radius: 20px;
}

Button.regionbtn {
    text-align: center;
    border-radius: 20px;
    /* border-bottom: 10px; */
}

.modal button {
    outline: none;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    border-bottom: 10px;
    /* border: 1px solid #f1f1f1; */
}


.inputs > Button.regionbtns{
    text-align: center;
    border-radius: 20px;
    border-bottom: 10px;
    /* border-bottom: 10px; */
    /* margin: 2px; */
}

.maybe{
    position:absolute;
    float: left;
    width: 200px;
    top: 580px;

}